* {
  letter-spacing: 2px;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 29px;
}

@media screen and (max-width: 800px) {
  h1 {
    margin: 0 auto;
    text-align: start !important;
    font-size: 35px !important;
  }

  p {
    font-size: 24px !important;
  }
}
